<article class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">{$lang.settings.updates}</div>
            <div class="panel-body">
                {if: $allow_curl==0}
                <div class="well well-sm clearfix" style="margin: 15px 0 15px 0;">
                    <span class="text-danger">{$lang.settings.update_curl_error} (curl does not exist)</span>
                    <span class="label label-danger pull-right">Check Error</span>
                </div>
                {/if}
                {if: isset($error)}
                <div class="well well-sm clearfix" style="margin: 15px 0 15px 0;">
                    <span class="text-danger">{$error}</span>
                    <span class="label label-danger pull-right">System Error</span>
                </div>
                {/if}
                {if: isset($request)}
                <div class="well well-sm clearfix" style="margin: 15px 0 15px 0;">
                    <span class="text-info">{?=print_r($request,true)?}</span>
                    <span class="label label-info pull-right">Debug</span>
                </div>
                {/if}
                <p>{$lang.settings.update_info}</p>
                <p><b>{$lang.settings.version}:</b> {$settings.version}</p>
                {if: $manual_mode}
                    <div class="well well-sm clearfix" style="margin: 15px 0 15px 0;">
                        <span class="text-info"><b>Manual mode enabled.</b> Pleasy copy latest version of batflat to base directory. System will detect it automatically.</span>
                        <span class="label label-info pull-right">Info</span>
                    </div>
                    {if: $manual_mode['version']}
                        <p class="alert alert-success"><b>Detected package with version: {$manual_mode['version']}</b></p>
                        <form method="post">
                            <input type="submit" class="btn btn-primary" name="update" value="{$lang.settings.update_button}" />
                        </form>
                    {else}
                        <p class="alert alert-danger"><b>/batflat-*.zip</b> does not detected.</p>
                        <input type="submit" class="btn btn-primary" value="{$lang.settings.update_button}" disabled/>
                    {/if}
                {elseif: cmpver($settings['update_version'], $settings['version']) === 1}
                    <p class="alert alert-warning">{$lang.settings.update_available} ({$settings['update_version']})</p>
                    <form method="post">
                        <input type="submit" class="btn btn-primary" name="update" value="{$lang.settings.update_button}" />
                    </form>
                    <h3>Changelog:</h3>
                    <pre style="max-height:200px;">{$settings['update_changelog']}</pre>
                {elseif: isset($update_version) && cmpver($update_version, $settings['version']) === 0}
                    <p class="alert alert-success">{$lang.settings.up_to_date} ({$settings['update_version']})</p>
                    <form method="post">
                        <input type="submit" class="btn btn-primary" name="check" value="{$lang.settings.update_check}" />
                    </form>
                {elseif: isset($update_version) && cmpver($update_version, $settings['version']) === -1}
                    <p class="alert alert-success">{$lang.settings.update_newer_version} ({$settings['update_version']})</p>
                    <form method="post">
                        <input type="submit" class="btn btn-primary" name="check" value="{$lang.settings.update_check}" />
                    </form>
                {else}
                    <form method="post">
                        <input type="submit" class="btn btn-primary" name="check" value="{$lang.settings.update_check}" />
                    </form>
                {/if}
            </div>
        </div>
    </div>
</article>