<article class="row">
	<form name="page" action="{?=url(ADMIN.'/pages/save/'.@$pages.form.id)?}" method="POST">
		<div class="col-md-8">
		    <div class="panel panel-default">
                <div class="panel-heading">
		            <h3 class="panel-title">{$pages.title}</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>{$lang.general.title}</label>
                        <input type="text" name="title" class="form-control" value="{$pages.form.title}" required />
                    </div>
                    <div class="form-group no-margin">
                        <label>{$lang.pages.content}</label>
						<div class="progress-wrapper">
							<div class="progress no-margin collapse">
								<div class="progress-bar progress-bar-striped active" role="progressbar">
								</div>
							</div>
						</div>
                        <textarea name="content" rows="16" class="editor form-control" data-editor="{$pages.editor}">{$pages.form.content}</textarea>
                    </div>
                </div>
            </div>
	    </div>
        
	    <div class="col-md-4">
		    <div class="panel panel-default">
                <div class="panel-heading">
		    	    <h3 class="panel-title">SEO</h3>
                </div>
                <div class="panel-body">
		            <div class="form-group">
		                <label>{$lang.pages.slug}</label>
		                <input type="text" name="slug" class="form-control" placeholder="{$lang.general.can_be_empty}" value="{$pages.form.slug}"/>
		            </div>
		            <div class="form-group no-margin">
		                <label>{$lang.pages.description}</label>
		                <input type="text" name="desc" class="form-control" placeholder="{$lang.general.can_be_empty}" value="{$pages.form.desc}"/>
		            </div>
                </div>
		    </div>

			<div class="panel panel-default">
                <div class="panel-heading">
		    	    <h3 class="panel-title">{$lang.general.settings}</h3>
                </div>
                <div class="panel-body">
		            <div class="form-group">
		                <label>{$lang.general.lang}</label>
		                <select name="lang" class="form-control">
		                	{loop: $pages.langs}
		                    <option {$value.attr}>{$value.name}</option>
		                    {/loop}
		                </select>
		            </div>
		            <div class="form-group">
		                <label>{$lang.general.template}</label>
		                <select name="template" class="form-control">
		                	{loop: $pages.templates}
		                    <option {$value.attr}>{$value.name}</option>
		                    {/loop}
		                </select>
		            </div>

		            <div class="form-group">
                        <label><input type="checkbox" name="markdown" value="1" {if: $pages.form.markdown == 1}checked{/if} /> {$lang.pages.markdown}</label>
                    </div>
		            <input type="submit" name="save" value="{$lang.general.save}" class="btn btn-primary" />
					<a href="{$pages.manageURL}" class="btn btn-default">{$lang.general.cancel}</a>
		        </div>
            </div>
        </div>
	</form>
</article>