.theme-preview {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 75%; 
}
    .theme-preview img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }