#textarea-tabs {
    border-bottom: 0;
}

#textarea-tabs > li > a {
    border-top: 0;
}

#textarea-tabs > li > a.active,
#textarea-tabs > li > a.active:hover,
#textarea-tabs > li > a.active:focus {
    border-color: #ccc;
    border-top: 0;
}

#textarea-tabs.markItUp {
    margin-top: -5px;
}

.markItUpFooter {
    position: relative;
    z-index: 1;
}