    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                  <div class="panel-heading">
                        <h3 class="panel-title">{$text}</h3>
                  </div>
                  <div class="panel-body">
                        <div class="text-center">
                            <h2>{$lang.sample.example}</h2>
                        </div>
                        <a href="{?= url('sample') ?}" class="btn btn-block btn-primary">{$lang.sample.button}</a>
                  </div>
            </div>
              
        </div>
    </div>
