<article class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">{$lang.modules.upload_new}</div>
            <div class="panel-body">
                {if: FILE_LOCK}
                <div class="alert alert-danger">{$lang.modules.file_lock}<span class="label pull-right">FILE_LOCK</span></div>
                {/if}
                <form method="post" action="{?=url(ADMIN.'/modules/extract', true)?}" enctype="multipart/form-data">
                    <div class="well well-sm clearfix">
                        {$lang.modules.upload_zip_subinfo}
                        <span class="label label-default pull-right">info</span>
                    </div>

                    <div class="well well-sm clearfix" style="margin: 15px 0 15px 0;">
                        <span class="text-danger">{$lang.modules.upload_zip_warning}</span>
                        <span class="label label-danger pull-right">info</span>
                    </div>

                    <div class="form-group">
                        <label>{$lang.modules.select_zip}</label>
                        <input type="file" class="form-control" name="zip_module" required />
                    </div>

                    <input type="submit" name="submit" value="{$lang.modules.upload_zip}" class="btn btn-primary" {if: FILE_LOCK}disabled{/if}/>
                </form>
            </div>
        </div>
    </div>
</article>