body {
  margin-bottom: 30px;
}
#devbar {
  z-index: 1000;
  position: fixed;
  display: block;
  bottom: 0;
  left: -2px;
  right: -2px;
  padding: 0px;
  background: #222;
  border-top: 1px solid #444;
  color: #FFF;
  font-size: 14px;
  font-family: "Lucida Console", Monaco, monospace !important;
  font-weight: 400;
  line-height: 1.4;
}
#devbar > ul {
  position: relative;
  min-height: auto;
  border: 0;
  border-radius: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
#devbar > ul > li {
  position: static;
  padding: 0;
  margin: 0;
  float: left;
}
#devbar > ul > li > a {
  color: #FFF;
  text-decoration: none;
}
#devbar > ul > li:not(:last-of-type) {
  border-right: 1px solid #444;
}
#devbar > ul > li.title {
  font-weight: bold;
}
#devbar > ul > li.title span > span {
  color: #f8be12;
}
#devbar > ul > li.show-hide {
  display: block;
  float: right;
  top: 0;
  right: 14px;
  bottom: 0;
  padding: 3px 20px 0 6px;
  cursor: pointer;
}
#devbar > ul > li.show-hide i.fas:after {
  content: '\f0d8';
}
#devbar > ul > li.show-hide[aria-expanded="true"] i.fas:after {
  content: '\f0d7';
}
#devbar > ul > li > span,
#devbar > ul > li > a {
  display: inline-block;
  padding: 3px 10px 2px 10px;
}
#devbar > ul > li.logo {
  padding: 2px 20px 2px 20px;
}
#devbar > ul > li.logo img {
  height: 18px;
  width: auto;
}
#devbar .tab-pane {
  background: #FFF;
  height: 300px;
  color: #000;
  width: 100%;
  overflow: auto;
}
#devbar .tab-pane ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#devbar .tab-pane ul li {
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-family: monospace;
}
#devbar .tab-pane ul li dl {
  margin-bottom: 0;
}
#devbar .tab-pane ul li dl dd,
#devbar .tab-pane ul li dl dt {
  line-height: 1.4;
}
#devbar .tab-pane ul li .truncate {
  cursor: pointer;
}
#devbar .tab-pane ul li .truncate.active {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#devbar .tab-pane ul li pre {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  color: #656d78;
  font-size: 13px;
}
