.card-body h1 {
    font-weight:bold;
    margin:10px 0;
    font-size:48px;
}
.card-body-nopadding {
    padding:0;
}
.card-body-nopadding table tr th {
    border-top:0;
}
.card-body-nopadding table tr td, .card-body-nopadding table tr th {
    padding-left:15px;
}