{if: !empty($settings.blog.disqus)}
    {if: isset($isPost) && $post.comments == 1}
    <script>
        var disqus_config = function() {
            this.page.url = "{$post.url}";
            this.page.identifier = "{$post.disqus_identifier}";
        };

        (function() {
            var d = document,
                s = d.createElement('script');

            s.src = 'https://{$settings.blog.disqus}.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    {/if}
    {if: isset($isBlog) || isset($isPost)}
    <script id="dsq-count-scr" src="//{$settings.blog.disqus}.disqus.com/count.js" async></script>
    {/if}
{/if}